/* HERO SECTION */
.tc-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  width: 100%;
  height: 70vh;
  background: linear-gradient(135deg, #425c86, #c4585f);
  color: #fff;
  gap: 40px;
  flex-wrap: wrap;
}

/* Default state BEFORE animation */
.tc-hero-content,
.tc-hero-image {
  opacity: 0;
  transform: translateY(40px);
}

.tc-hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tc-hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Hero Image */
.tc-hero-image img {
  width: 100%;
  max-width: 400px;
  margin-top: 30%;
}

/* ANIMATIONS */
.slide-in-left {
  animation: slideInLeft 1s forwards ease-out;
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-80px); }
  to { opacity: 1; transform: translateX(0); }
}

.slide-in-bottom {
  animation: slideInBottom 1s forwards ease-out;
}

@keyframes slideInBottom {
  from { opacity: 0; transform: translateY(80px); }
  to { opacity: 1; transform: translateY(0); }
}

/* TERMS CONTENT */
.tc-content {
  padding: 60px 10%;
  background: #f8f9fa;
}

.tc-wrapper h2 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #425c86;
}

.tc-wrapper p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 22px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .tc-hero {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 50px 0px 0px;
  }

  .tc-hero-image {
    display: none;
  }

  .tc-hero-content h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .tc-hero-content p {
    font-size: 16px;
  }

  .tc-content {
    padding: 20px;
  }

  .tc-wrapper h2 {
    font-size: 20px;
  }

  .tc-wrapper p {
    font-size: 14px;
  }
}
